In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
# Series
s = df["Name"][0:10]

In [5]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [6]:
type(s)

pandas.core.series.Series

In [7]:
# Giving named indexes for series
l = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [12]:
s1 = pd.Series(s, index=l)
s1

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
Name: Name, dtype: object

In [13]:
# List me data pass kaerega toh toh hi data dikhega
s1 = pd.Series(list(s), index=l)
s1

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [18]:
# Agar hum name change bhi kar diya par ye previous index yaad rakhta hai
s[0]

'Braund, Mr. Owen Harris'

In [17]:
s1[0]

'Braund, Mr. Owen Harris'

In [19]:
s1["a"]

'Braund, Mr. Owen Harris'

In [22]:
# Appending data in series remember data should be in series
s2 = s1.append(s)

C:\Users\shrey\AppData\Local\Temp\ipykernel_9676\2328979162.py:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [23]:
s2

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [24]:
# # Default nhi leta agar named kar diya toh
s2[0]

'Braund, Mr. Owen Harris'

In [25]:
s2[4]

'Allen, Mr. William Henry'

In [28]:
s4 = pd.Series([2, 3, 4, 56, 6], index=[2, 4, 5, 6, 1])
s4

2     2
4     3
5     4
6    56
1     6
dtype: int64

In [29]:
s5 = pd.Series([22, 33, 24, 56, 36], index=[9, 4, 5, 6, 7])
s5

9    22
4    33
5    24
6    56
7    36
dtype: int64

In [33]:
s6 = s4.append(s5)
s6

C:\Users\shrey\AppData\Local\Temp\ipykernel_9676\927512819.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

2     2
4     3
5     4
6    56
1     6
9    22
4    33
5    24
6    56
7    36
dtype: int64

In [36]:
# Default nhi leta agar named kar diya toh
s6[0]

KeyError: 0

In [37]:
# Agar slice chaiye toh default index lega
s6[0:5]

2     2
4     3
5     4
6    56
1     6
dtype: int64

In [38]:
s4

2     2
4     3
5     4
6    56
1     6
dtype: int64

In [39]:
s5

9    22
4    33
5    24
6    56
7    36
dtype: int64

In [40]:
# Multiplication is done on named indexes jo present hoga uska output else nan
s4 * s5

1       NaN
2       NaN
4      99.0
5      96.0
6    3136.0
7       NaN
9       NaN
dtype: float64

In [41]:
s4 + s5

1      NaN
2      NaN
4     36.0
5     28.0
6    112.0
7      NaN
9      NaN
dtype: float64